workflow.onComplete {

    def outdir = params.outdir.toString()
    def queueUrl = "https://sqs.us-east-1.amazonaws.com/850787717197/sales-prod-PackagerQueue-2BfTcvCBFuJA"

    println "Sending SQS message for output folder: ${outdir}"

    def cmd = [
        'aws','sqs','send-message',
        '--queue-url', queueUrl,
        '--message-body', outdir
    ]

    def p = cmd.execute()
    p.waitFor()

    if( p.exitValue() != 0 ) {
        println "SQS send error:"
        println p.err.text
    } else {
        println "SQS send success:"
        println p.in.text
    }
}
