profiles {
    smoke {
        process.executor = 'awsbatch'
        process.cpus     = 1
        process.memory   = '512 MB'
        process.time     = '5 min'
        // Region is set by compute environment - do not hardcode here

        timeline.enabled = false
        trace.enabled    = false
    }
}
